nlm_sources/
.DS_Store
.vscode

._*
.Spotlight-V100
.Trashes
__MACOS

.idea/
*.iws
*.iml
out/

.env
config.json
secrets.sql

.DS_Store
.AppleDouble
.LSOverride

**/consoles/
**/dataSources/
**/dataSources.local.xml
**/projects/
